* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-group {
    text-align: center;
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 2px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
}

