   <!-- ##### Header Area Start ##### -->
   <header class="header_area">
    <div class="classy-nav-container breakpoint-off d-flex align-items-center justify-content-between">
        <!-- Classy Menu -->
        <nav class="classy-navbar" id="essenceNav">
            <!-- Logo -->
            <a class="logo nav-brand" href="index.ejs"><img src="/essence/img/images/LOGO250X180BCO.png" alt=""></a>
            <!-- Navbar Toggler -->
            <div class="classy-navbar-toggler">
                <span class="navbarToggler"><span></span><span></span><span></span></span>
            </div>
            <!-- Menu -->
            <div class="classy-menu">
                <!-- close btn -->
                <div class="classycloseIcon">
                    <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                </div>
                <!-- Nav Start -->
                <div class="classynav">
                    <ul>
                        <li><a href="#">Comprá por categorías</a>
                            <div class="megamenu">
                                <ul class="single-mega cn-col-4">
                                    <li class="title">Humanidades</li>
                                    <li><a href="shop.html">Filosofía</a></li>
                                    <li><a href="shop.html">Historia</a></li>
                                    <li><a href="shop.html">Sociología</a></li>
                                    <li><a href="shop.html">Crítica literaria</a></li>
                                    <li><a href="shop.html">Antropología</a></li>
                            
                                </ul>
                                <ul class="single-mega cn-col-4">
                                    <li class="title">Ficción</li>
                                    <li><a href="shop.html">Fantástico</a></li>
                                    <li><a href="shop.html">Policial</a></li>
                                    <li><a href="shop.html">Romance</a></li>
                                    <li><a href="shop.html">Terror</a></li>
                                    <li><a href="shop.html">Infanto juvenil</a></li>
                                </ul>
                                <ul class="single-mega cn-col-4">
                                    <li class="title">Arte, arquitectura y diseño</li>
                                    <li><a href="shop.html">Arte</a></li>
                                    <li><a href="shop.html">Arquitectura</a></li>
                                    <li><a href="shop.html">Diseño de interiores</a></li>
                                    <li><a href="shop.html">Moda</a></li>
                                    <li><a href="shop.html">Fotografía</a></li>
                                  
                                </ul>
                                <ul class="single-mega cn-col-4">
                                    <li class="title">Gastronomía</li>
                                    <li><a href="shop.html">Comida asiática</a></li>
                                    <li><a href="shop.html">Comida latinoamericana</a></li>
                                    <li><a href="shop.html">Comida norteamericana</a></li>
                                    <li><a href="shop.html">Comida del medio oriente</a></li>
                                    <li><a href="shop.html">Nutrición</a></li>
                                  
                                </ul>
                            
                        
                        <li><a href="contact.html">Contacto</a></li>
                    </ul>
                </div>
                <!-- Nav End -->
            </div>
        </nav>

        <!-- Header Meta Data -->
        <div class="header-meta d-flex clearfix justify-content-end">
            <!-- Search Area -->
            <div class="search-area">
                <form action="#" method="post">
                    <input type="search" name="search" id="headerSearch" placeholder="Buscá tu libro">
                    <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                </form>
            </div>
        
            <!-- User Login Info -->
            <div class="user-login-info">
                <a href="#"><img src="/essence/img/core-img/user.svg" alt=""></a>
            </div>
            <!-- Cart Area -->
            <div class="cart-area">
                <a href="#" id="essenceCartBtn"><img src="/essence/img/core-img/bag.svg" alt=""> <span>3</span></a>
            </div>
        </div>

    </div>
</header>
<!-- ##### Header Area End ##### -->

<!-- ##### Right Side Cart Area ##### -->
<div class="cart-bg-overlay"></div>

<div class="right-side-cart-area">

    <!-- Cart Button -->
    <div class="cart-button">
        <a href="#" id="rightSideCart"><img src="/essence/img/core-img/bag.svg" alt=""> <span>3</span></a>
    </div>

    <div class="cart-content d-flex">

        <!-- Cart List Area -->
        <div class="cart-list">
            <!-- Single Cart Item -->
            <div class="single-cart-item">
                <a href="#" class="product-image">
                    <img src="/essence/img/product-img/product-1.jpg" class="cart-thumb" alt="">
                    <!-- Cart Item Desc -->
                    <div class="cart-item-desc">
                      <span class="product-remove"><i class="fa fa-close" aria-hidden="true"></i></span>
                        <span class="badge">Mango</span>
                        <h6>Button Through Strap Mini Dress</h6>
                        <p class="size">Size: S</p>
                        <p class="color">Color: Red</p>
                        <p class="price">$45.00</p>
                    </div>
                </a>
            </div>

            <!-- Single Cart Item -->
            <div class="single-cart-item">
                <a href="#" class="product-image">
                    <img src="img/product-img/product-2.jpg" class="cart-thumb" alt="">
                    <!-- Cart Item Desc -->
                    <div class="cart-item-desc">
                      <span class="product-remove"><i class="fa fa-close" aria-hidden="true"></i></span>
                        <span class="badge">Mango</span>
                        <h6>Button Through Strap Mini Dress</h6>
                        <p class="size">Size: S</p>
                        <p class="color">Color: Red</p>
                        <p class="price">$45.00</p>
                    </div>
                </a>
            </div>

            <!-- Single Cart Item -->
            <div class="single-cart-item">
                <a href="#" class="product-image">
                    <img src="img/product-img/product-3.jpg" class="cart-thumb" alt="">
                    <!-- Cart Item Desc -->
                    <div class="cart-item-desc">
                      <span class="product-remove"><i class="fa fa-close" aria-hidden="true"></i></span>
                        <span class="badge">Mango</span>
                        <h6>Button Through Strap Mini Dress</h6>
                        <p class="size">Size: S</p>
                        <p class="color">Color: Red</p>
                        <p class="price">$45.00</p>
                    </div>
                </a>
            </div>
        </div>

        <!-- Cart Summary -->
        <div class="cart-amount-summary">

            <h2>Total</h2>
            <ul class="summary-table">
                <li><span>subtotal:</span> <span>$274.00</span></li>
                <li><span>delivery:</span> <span>Free</span></li>
                <li><span>discount:</span> <span>-15%</span></li>
                <li><span>total:</span> <span>$232.00</span></li>
            </ul>
            <div class="checkout-btn mt-100">
                <a href="checkout.html" class="btn essence-btn">check out</a>
            </div>
        </div>
    </div>
</div>
<!-- ##### Right Side Cart End ##### -->
